body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 100%;
    max-width: 400px;
    height: 90vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    border-radius: 15px;
    overflow: hidden;
}

h2 {
    background: #2c2c2c;
    color: #eee;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #444;
}

#messages {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* ТВОЙ ФОН */
    background-image: url('bg.jpg'); 
    background-size: cover;
    background-position: center;
}

.message {
    max-width: 85%;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.9); /* Эффект стекла */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    align-self: flex-start;
    position: relative;
}

.message b {
    display: block;
    font-size: 12px;
    color: #555;
    margin-bottom: 3px;
    border-bottom: 1px solid #eee;
}

.message .time {
    display: block;
    font-size: 10px;
    color: #888;
    text-align: right;
    margin-top: 4px;
}

.input-group {
    display: flex;
    padding: 15px;
    background: #2c2c2c;
}

#messageInput {
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
    background: #444;
    color: white;
}

#sendBtn {
    background: #555;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#sendBtn:hover {
    background: #777;
}